<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <script type="text/javascript" src="/libraries/jquery/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="/libraries/bootstrap/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/libraries/bootstrap/css/bootstrap.css">
  <link rel='stylesheet' href='/css/main.css' />
  <script type="text/javascript" src="/main.js"></script>

</head>

<body>
  <div id="whole">
    <h3>{{title}}</h3>
    <hr>
    <div id="answer" style="height: calc(100% - 100px);">
      {{> (lookup . 'partialName') }}
    </div>
  </div>
  </div>
</body>

</html>